{% extends "./base.html" %}

{% block contents %}
<div class="row mt-5">
<div class="col-12 text-center">
    <h1>{{ movieDetail.title }}</h1>

</div>
</div>
<div class="row mt-5">
    <div class="col-12">
                <div style="width: 600px; height: 800px; float:left">
                 <img src="{{ movieDetail.poster_url }}" style="width: 500px; height: 700px;">
                </div>

            <div style="border:1px">
                    <p>감독 : {{ movieDetail.director }}</p>
                    <p>주연 배우 : {{ movieDetail.actors }}</p>
                    <p>개봉일 : {{ movieDetail.premier }}</p>
                    <p>{{ movieDetail.score }}</p>
                    <p>{{ movieDetail.story }}</p>
      </div>
        <div style = "margin:5px">
            <button type="submit" class="btn btn-primary" onClick="location.href='http://127.0.0.1:8000/moviecloud/'">돌아가기</button>
        </div>
    </div>
</div>

        <div>
        <div class="col-12 text-center">
                            <h1>워드 클라우드</h1>


                <div style="width: 900px; height: 1000px;">

                         <img src="{{ movieDetail.wordcloud }}" style="width: 900px; height: 1000px;">
                </div>
        </div>
        </div>



{% endblock %}