{% extends "./base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12">
            <div class="form-group">

                <div style="width: 400px; height: 500px;">
                 <img src="https://movie-phinf.pstatic.net/20190417_250/1555465284425i6WQE_JPEG/movie_image.jpg" style="width: 400px; height: 500px;">
               </div>
                    <p>{{ movieDetail.id }}</p>
                    <p>{{ movieDetail.title }}</p>
                    <p>{{ movieDetail.director }}</p>
                    <p>{{ movieDetail.actors }}</p>
                    <p>{{ movieDetail.premier }}</p>
                    <p>{{ movieDetail.score }}</p>

            </div>
                 <img src="{{ movieDetail.wordcloud }}" style="width: 400px; height: 500px;">

        <div style = "padding: 5px 1px 2px 3px;">
            <button type="submit" class="btn btn-primary" onClick="location.href='http://127.0.0.1:8000/moviecloud/'">돌아가기</button>
        </div>


    </div>
</div>

{% endblock %}