{% extends "./base.html" %}
<!--현재 디렉토리에 있는 base.html 파일을 상속받음 -->
{% block contents %}
<div class="container">

<div class="row mt-5">
<div class="col-12 text-center">
    <h1>Movie Cloud</h1>
</div>
</div>
<div class="row mt-5">
<div class="col-12">
    {{ error }}
</div>
</div>
<div class="row mt-5">
<div class="col-12">
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">영화 제목</label>
            <input type="text"
                   class="form-control"
                   id="title"
                   placeholder="영화 제목"
                   name="title"
            >
        <button type="submit" class="btn btn-primary">검색</button>
    </form>
</div>
</div>
</div>

</div>
{% endblock %}
